<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
<div class="container-fluid" style="margin-top: 50px;">
    <section class="container">
        <div class="container-page">
            <form id="registerForm">
            <div class="col-md-6 float-left">

            <img src="images/logo_reg.png" style="width: 100px; margin-top: -30px;">
                <h3 class="dark-grey">Registration</h3>

                <div class="form-group col-lg-6">
                    <label>Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                    <div class="invalid-feedback">
                        Email already used.
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>

                <div class="form-group col-lg-6">
                    <label>Repeat Password</label>
                    <input type="password" name="password2" class="form-control" id="password2" required>
                    <div class="invalid-feedback">
                        Does not match password.
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control"required>
                </div>
                <a class="btn btn-link" href="/login">Already have an account? Login</a>
            </div>

            <div class="col-md-6 float-right">
                <h3 class="dark-grey">Terms and Conditions</h3>
                <p>
                    By clicking on "Register" you agree to The Company's' Terms and Conditions
                </p>
                <p>
                    While rare, prices are subject to change based on exchange rate fluctuations -
                    should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
                </p>
                <p>
                    Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
                </p>
                <p>
                    Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
                </p>
                <hr>
                <br>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        </div>
    </section>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="../controller/registerController.js"></script>
</body>
</html>
